@import "../../../../styles/global/color";


.tooltip-container {
  background-color: $tooltip-background;
  padding: 9px 16px;
  box-shadow: 0 3px 6px 0 $tooltip-boxshadow;
  opacity: 0.9;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;

}
