<div class="app-container">
  <div class="header-container">
    <span class="text h4 grey ellipsis bold"> Herolo Weather Task</span>
    <div class="header-navigation-container">
      <div class="navigation-button" [routerLink]="['/']">
        <span class="text h6 grey ellipsis bold">Home</span>
        <img src="../assets/images/png/home.png">
      </div>
      <div class="navigation-button " [routerLink]="['/favorites']">
        <span class="text h6 grey ellipsis bold">Favorites</span>
        <img src="../assets/images/png/favorites.png">
      </div>
    </div>
  </div>
  <div class="navigation-container">
    <router-outlet></router-outlet>
  </div>

</div>
